<div id="hero">		
  <span id="hero-fg-text"><h2>Computer Music Library</h2></span>
  <span id="hero-bg-text"><h1>COMPEL</h1></span>		
  <!-- <span id="hero-rotate-text">We Create</span> -->
  <span id="hero-highlighted-text">BUILDING<br />COMMUNITIES</span>
</div>
