<%# Modified from Hyrax Gem 2.1.0 %>
<div class="col-xs-12 explore_wrapper">
  <div class="explore_section">
    <h3><%= t('hyrax.homepage.admin_sets.title') %></h3>
    <%= render 'explore_collections', collections: @presenter.collections %>
  </div>
  <div class= "explore_section">
    <div class="explore_photo">
      <%= image_tag('vtul/bug_1.jpg', alt: 'digital music performance') %>
    </div>
    <div class="explore_photo_text">Introducing a framework that offers storage, retrieval, sorting, dynamic curation, and reproducibility of the electroacoustic compositions written for a live performer and technology</div>
  </div>		
</div><!-- /.col-xs-6 -->
