<%# Modified from Hyrax Gem 2.1.0 %>
<div class="col-xs-12 explore_wrapper">
  <span class="plus_box"></span>
  <h2 class="explore_shadow">Explore</h2>
  <div class="explore_left">
    <div class="explore_photo"></div>
  </div>
		
  <div class="explore_right">
    <h3><%= t('hyrax.homepage.admin_sets.title') %></h3>
    <%= render 'explore_collections', collections: @presenter.collections %>
  </div>
</div><!-- /.col-xs-6 -->
