<%# Modified from Hyrax Gem 2.1.0 %>
<% provide :page_title, application_name %>

<div class="home_text_section col-xs-12">
  <% if @presenter.display_share_button? %>
    <div class="home_share_work row">
      <div class="hidden-sm col-md-1"></div>
      <div class="col-xs-12 col-sm-12 col-md-6">
        <h3>Welcome to COMPEL</h3>
        <p>COMPEL is an initiative designed to address the preservational crisis of the computer music composed for a live performer and some form of technology-mediated part, be it fixed media or an interactive software. Furthermore, it seeks to empower the ensuing community with a platform that seamlessly integrates the community-building social media tools with the library repository. By doing this it offers a crowdsourced platform that encourages users to participate and contribute to an ever-growing ecosystem of unique and cutting edge music literature.</p>
      </div>
      <div class="col-xs-12 col-md-4">
        <%= render 'home_content' %>
    </div>
    <div class="hidden-sm col-md-1"></div>
  <% end %>

</div>
