<%# Modified from Hyrax Gem 2.1.0 %>
<footer class="navbar navbar-inverse site-footer">
  <div class="container-fluid">
    <%= render '/static_site_links' %>
    <div class="col-xs-2 col-centered text-centered spaced logo">
      <%= link_to("https://www.vt.edu") do %>
        <%= image_tag "vtul/vt-logo.png" %>
      <% end %>
    </div>
  </div>
</footer>
