#about-content {
  margin-bottom: 40px;
  .person {
    position: relative;
    display: block;
    min-height: 215px;
    margin-bottom: 25px;
    .about-people-img {
      position: relative;
      display: block;
      float: left;
      height: 215px;
      margin-right: 15px;
    }
  }
  h2 {
    margin-top: 25px;
    clear: both;
  }
}
