@font-face {
  font-family: Raleway-Bold;
  src: font-url("Raleway-Bold.ttf");
}

@font-face {
  font-family: Raleway-ExtraLight;
  src: font-url("Raleway-ExtraLight.ttf");
}

@font-face {
  font-family: Raleway-MediumItalic;
  src: font-url("Raleway-MediumItalic.ttf");
}

@font-face {
  font-family: Raleway-SemiBold;
  src: font-url("Raleway-SemiBold.ttf");
}

@font-face {
  font-family: Raleway-BlackItalic;
  src: font-url("Raleway-BlackItalic.ttf");
}

@font-face {
  font-family: Raleway-ExtraBoldItalic;
  src: font-url("Raleway-ExtraBoldItalic.ttf");
}

@font-face {
  font-family: Raleway-Italic;
  src: font-url("Raleway-Italic.ttf");
}

@font-face {
  font-family: Raleway-Medium;
  src: font-url("Raleway-Medium.ttf");
}

@font-face {
  font-family: Raleway-ThinItalic;
  src: font-url("Raleway-ThinItalic.ttf");
}

@font-face {
  font-family: Raleway-Black;
  src: font-url("Raleway-Black.ttf");
}

@font-face {
  font-family: Raleway-ExtraBold;
  src: font-url("Raleway-ExtraBold.ttf");
}

@font-face {
  font-family: Raleway-LightItalic;
  src: font-url("Raleway-LightItalic.ttf");
}

@font-face {
  font-family: Raleway-Regular;
  src: font-url("Raleway-Regular.ttf");
}

@font-face {
  font-family: Raleway-Thin;
  src: font-url("Raleway-Thin.ttf");
}

@font-face {
  font-family: Raleway-BoldItalic;
  src: font-url("Raleway-BoldItalic.ttf");
}

@font-face {
  font-family: Raleway-ExtraLightItalic;
  src: font-url("Raleway-ExtraLightItalic.ttf");
}

@font-face {
  font-family: Raleway-Light;
  src: font-url("Raleway-Light.ttf");
}

@font-face {
  font-family: Raleway-SemiBoldItalic;
  src: font-url("Raleway-SemiBoldItalic.ttf");
}
/* latin-ext */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: font-url("source_sans_pro.woff2") format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: font-url("source_sans_pro.woff2") format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
