@font-face {
  font-family: Raleway-Bold;
  src: font-url("Raleway-Bold.ttf");
}

@font-face {
  font-family: Raleway-ExtraLight;
  src: font-url("Raleway-ExtraLight.ttf");
}

@font-face {
  font-family: Raleway-MediumItalic;
  src: font-url("Raleway-MediumItalic.ttf");
}

@font-face {
  font-family: Raleway-SemiBold;
  src: font-url("Raleway-SemiBold.ttf");
}

@font-face {
  font-family: Raleway-BlackItalic;
  src: font-url("Raleway-BlackItalic.ttf");
}

@font-face {
  font-family: Raleway-ExtraBoldItalic;
  src: font-url("Raleway-ExtraBoldItalic.ttf");
}

@font-face {
  font-family: Raleway-Italic;
  src: font-url("Raleway-Italic.ttf");
}

@font-face {
  font-family: Raleway-Medium;
  src: font-url("Raleway-Medium.ttf");
}

@font-face {
  font-family: Raleway-ThinItalic;
  src: font-url("Raleway-ThinItalic.ttf");
}

@font-face {
  font-family: Raleway-Black;
  src: font-url("Raleway-Black.ttf");
}

@font-face {
  font-family: Raleway-ExtraBold;
  src: font-url("Raleway-ExtraBold.ttf");
}

@font-face {
  font-family: Raleway-LightItalic;
  src: font-url("Raleway-LightItalic.ttf");
}

@font-face {
  font-family: Raleway-Regular;
  src: font-url("Raleway-Regular.ttf");
}

@font-face {
  font-family: Raleway-Thin;
  src: font-url("Raleway-Thin.ttf");
}

@font-face {
  font-family: Raleway-BoldItalic;
  src: font-url("Raleway-BoldItalic.ttf");
}

@font-face {
  font-family: Raleway-ExtraLightItalic;
  src: font-url("Raleway-ExtraLightItalic.ttf");
}

@font-face {
  font-family: Raleway-Light;
  src: font-url("Raleway-Light.ttf");
}

@font-face {
  font-family: Raleway-SemiBoldItalic;
  src: font-url("Raleway-SemiBoldItalic.ttf");
}
