@import 'colors';

footer.site-footer {
  background-color: $red;
  min-height: 140px;
  height: auto;
  border: none;
  ul.nav {
    float: none;
    text-align: center;
    margin: 0 auto;
    li {
      float: none;
      display: inline-block;
    }
  }
  .logo {
    display: block;
    a {
      text-decoration: none;
    }
    img {
      max-width: 477px;
      width: 100%;
      margin: 0 auto;
    }
  }
}
.navbar-inverse.site-footer .navbar-nav > li > a {
  color: white;
  font-size: 16px;
}
footer.site-footer ul.nav li.active > a {
  color: #555;
  background-color: #e7e7e7;
}
footer.site-footer ul.nav li.active > a:hover {
  color: #555;
  background-color: $red
}
.sopa {
  font-family: "Source Sans Pro",sans-serif;
  color: white;
  font-size: 24px;
}
