footer.site-footer {
  min-height: 140px;
  height: auto;
  ul.nav {
    float: none;
    text-align: center;
    margin: 0 auto;
    li {
      float: none;
      display: inline-block;
    }
  }
  .logo {
    display: block;
    margin-top: 10px;
    margin-bottom: 15px;
    width: 250px;
    img {
      width: 100%;
    }
  }
}
