.composition_composer, .performance_performer {
  visibility: hidden;
}

#masthead {
  .input-group {
    font-size: 8px;
  }
  input, button {
    height: 30px;
    border: none;
    color: rgba(203,199,199,1.00);
    background-color: white;
    box-shadow: none;
    border-radius: 0;
    font-size: 11px;
    span {
      font-size: 11px;
      text-transform: uppercase;
    }
  }
  .dropdown-toggle {
    margin-left: -1px;
    border-left: 1px solid rgba(203,199,199,1.00);
  }
}
