.composition_composer, .performance_performer {
  visibility: hidden;
}

#masthead {
  .input-group {
    font-size: 16px;
  }
  #search-submit-header {
    background-color: white;
  }
  button {
    z-index: 1000;
  }
  input, button {
    height: 30px;
    border: none;
    color: #323232;
    box-shadow: none;
    border-radius: 0;
    font-size: 16px;
    span {
      font-size: 16px;
      text-transform: uppercase;
    }
  }
  .dropdown-toggle {
    margin-left: -1px;
    border-left: 1px solid #323232;
  }
}
