@import 'colors';

.background {
  width: 100%;
  height: 5000px;
  position: fixed;
  top: 0;
  z-index: -1;
}
#background1, #background2, #background3, #background4, #background5 {
  width: 20%;
  height: 100%;
  border-right: 1px solid rgba(50,50,50,.05);
  float: left;
}
#defaultCanvas0 {
  position: absolute;
  top: 0;
  z-index: -1;
}
.home_share_work {
  font-family: apercu_regular_pro;
  font-size: 16px;
  color: rgba(50,50,50,1.00);
  line-height: 30px;
  background-color: white;
  margin-bottom: 300px;
  h3 {
    font-family: Raleway-Black, "Helvetica Neue", Helvetica, Arial, "sans-serif";
    font-size: 33px;
    letter-spacing: -2px;
    color: rgba(50,50,50,1.00);
    margin: 0;
    padding: 0;
    font-weight: bold;
  }
  p {
    font-family: Raleway-Regular, "Helvetica Neue", Helvetica, Arial, "sans-serif";
    width: 100%;
    margin: 0;
    font-size: 20px;
  }
}

#hero {
  width: 100%;
  height: 500px;
  position: relative;
  margin-top: 0;
  z-index: 2;
  background-image: image-url('vtul/grid_3.png');
  overflow: hidden;
}

#hero-bg-text {
  position: absolute;
  z-index: 1;
  width: 100%;
  h1 {
    font-family: Raleway-Black;
    font-size: 250px;
    color: rgba(252, 71, 59, .90);
    text-align: center;
  }
}

#hero-fg-text {
  position: absolute;
  z-index: 2;
  width: 100%;
  top: 45px;
  left: 186px;
  h2 {
    font-family: Raleway-Medium, "Helvetica Neue", Helvetica, Arial, "sans-serif";
    font-size: 58px;
    color: rgba(50,50,50,1.00);
    text-align: center;
    margin: 200px 0 0 0;
    padding: 0;
  }
}

#hero-rotate-text {
	font-family: apercu_regular_pro;
	font-size: 11px;
	height: 40px;
	width: 400px;
	color: rgba(50,50,50,1.00);
	-webkit-transform: rotateZ(270deg);
	transform: rotateZ(270deg);
	position: absolute;
	z-index: 200;
	padding: 0;
	left: 32.4%;
	top: 322px;
	margin: 0;
	text-align: center;

}

#hero-highlighted-text {
  position: absolute;
  width: 100%;
  top: 300px;
  left: 265px;
  p {
    font-family: Raleway-Bold;
    font-size: 34px;
    color: $light-grey;
    padding: 10px;
    text-transform: uppercase;
    text-align: center;
    .plus {
      color: $red;
    }
  }
}
.home_text_section {
  background-color: white;
  .home-content {
    margin-top: 300px;
  }
  .explore_wrapper {
    font-size: 16px;
    color: rgba(50,50,50,1.00);
    line-height: 30px;
    z-index: 50;
    position:relative;
    display: block;
    .explore_section {
      position: relative;
      display: block;
      padding: 15px;
      margin-bottom: 40px;
      background-color: #dedede;
      font-family: Raleway-Regular, "Helvetica Neue", Helvetica, Arial, "sans-serif";
      h3, h4 {
        font-family: Raleway-Black, "Helvetica Neue", Helvetica, Arial, "sans-serif";
        color: rgba(50,50,50,1.0);
      }
      h3 {
        font-size: 24px;
      }
      h4 {
        font-family: Raleway-Medium;
        font-size: 20px;
      }
      td {
        background-color: #dedede;
        font-family: Raleway-Medium, "Helvetica Neue", Helvetica, Arial, "sans-serif";
        font-size: 18px;
        a, a:visited {
          color: rgba(50,50,50,1.0);
          .folder {
            margin-right: 10px;
          }
        }
      }
      .collection-highlights-list {
        text-align: right;
      }
    }

    .explore_photo {
      width: 90%;
      background:rgba(79,185,184,1.00);
      background-size: cover;
      margin-left: 4%;
      margin-top: 25px;
      img {
        width: 100%;
      }
    }
    .explore_photo_text {
      width: 90%;
      margin: 20px 5%;
    }

    .explore_right {
      width: 43%;
      height: 350px;
      float: left;
      padding-left: 5%;
      margin-top: 25px;
      border-top: 1px solid rgba(252, 71, 59, 1.00);
      position: relative;
      z-index: 105;
      padding-top: 100px;
    }

    .collection-highlights-list {
      a.btn-default {
        float: right;
	border: none;
        background-color: #dedede;
	text-decoration: none;
	font-size: 18px;
        font-family: Raleway-Medium, "Helvetica Neue", Helvetica, Arial, "sans-serif";
        text-transform: uppercase;
      }
      a.btn-default:hover {
      }
    }
  }
}

@media (max-width: 1100px) {
  #hero-bg-text h1 {
    font-size: 230px;
  }
  #hero-fg-text h2 {
    font-size: 50px;
  }
  #hero-highlighted-text p {
    font-size: 30px;
  }
}
@media (max-width: 992px) {
  .home_share_work {
    margin-bottom: 400px;
  }
  #hero-bg-text h1 {
    font-size: 180px;
  }
  #hero-fg-text h2 {
    font-size: 30px;
  }
  #hero-highlighted-text p {
    font-size: 20px;
  }
  #hero-fg-text {
    top: -20px;
    left: 135px;
  }
  #hero-highlighted-text {
    top: 200px;
    left: 165px;
  }

}
@media (max-width: 768px) {
  #hero {
    height: 300px;
  }
  #hero-bg-text h1 {
    font-size: 115px;
  }
  #hero-fg-text {
    top: -70px;
    left: 40px;
  }
  #hero-highlighted-text {
    top: 155px;
    left: 65px;
  }

}
@media (max-width: 550px) {
  #hero-bg-text h1 {
    font-size: 95px;
  }
  #hero-fg-text {
    top: -70px;
    left: 20px;
  }
  #hero-highlighted-text {
    top: 155px;
    left: 65px;
  }
}
@media (max-width: 500px) {
  #hero-bg-text h1 {
    font-size: 80px;
  }
  #hero-fg-text {
    h2 {
      font-size: 25px;
    }
  }
  #hero-highlighted-text {
    top: 155px;
    left: 50px;
    p {
      font-size: 15px;
    }
  }
}
