@import 'colors';

nav#masthead, .dashboard nav#masthead {
  min-height: 100px;
  height: 100px;
  width: 100%;
  background: $red;
  border-bottom: 5px solid $dark-grey;

  .home-header {
    display: inline-block;
    h1 {
      display: inline-block;
      font-family: Raleway-Black;
      color: white;
      font-size: 60px;
    }
    h2 {
      display: inline-block;
      font-family: Raleway-Medium;
      font-size: 23px;
    }
  }
  .search-wrapper {
    margin-top: 25px;
  }
}
@media(max-width: 500px) {
  nav#masthead, .dashboard nav#masthead {
    height: 253px;
    .container-fluid {
      padding-right: 0;
      padding-left: 0;
    }
    .home-header {
     text-align: center;
    }
  }
}
@media(max-width: 768px) {
  .dashboard #content-wrapper {
    margin-top: 0px;
  }
}
@media(min-width: 768px) and (max-width: 992px) {
  .dashboard #content-wrapper {
    margin-top: 140px;
  }
}
@media(min-width: 501px) and (max-width: 992px) {
  nav#masthead, .dashboard nav#masthead {
    height: 190px;
  }
}
@media(min-width: 993px) and (max-width: 1062px) {
  nav#masthead .home-header h1, .dashboard nav#masthead .home-header h1 {
    font-size: 50px;
  }
  nav#masthead .home-header h2, .dashboard nav#masthead .home-header h2 {
    font-size: 20px;
  }
}
@media(min-width: 993px) {
  .dashboard #content-wrapper {
    margin-top: 50px;
  }
}
