@import 'colors';

.navbar-default {
  background: none;
  border: none;
  margin-right: 10%;
  #top-navbar-collapse {
    display: inline-block;
  }
  .navbar-nav {
    li {
      a {
        color: rgba(0,0,0,1.00);
        font-family: Raleway-Bold;
        font-size: 13px;
        letter-spacing: 1.5px;
        text-decoration: none;
        text-transform: uppercase;
        padding-left: 25px;
        padding-right: 25px;
      }
      a:hover {
        border-bottom: medium solid rgba(252, 71, 59, 1.00);
	padding-bottom: 12px;
      }
    }
    .dropdown-menu > li > a:hover {
      border-bottom: none;
      padding-bottom: 3px;
    }
  }
}
.navbar-toggle {
  position: absolute;
  top: 0;
  left: 0;
  background-color: transparent !important;
}
@media (max-width: 768px) {
    .navbar-nav {
        .dropdown.open {
          border-top: 5px solid $red;
          border-bottom: 5px solid $red;
          a[role="button"]:hover {
            border-bottom: none;
          }
        }
    }
}
@media (min-width: 768px) {
  .navbar-nav, .navbar-nav > li {
    float: none;
  }
  .navbar-toggle {
    display: block;
  }
}
@media (max-width: 1150px) {
  .navbar-static-top {
    display: none;
  }
}
@media (min-width: 1150px) {
  .navbar-static-top {
    display: block;
  }
  .navbar-nav {
    float: right;
  }
  .navbar-nav > li {
    float: left;
  }
  .navbar-toggle {
    display: none;
  }

}
