.navbar-default {
  background: none;
  border: none;
  margin-right: 10%;
  #top-navbar-collapse {
    display: inline-block;
  }
  .navbar-nav {
    li {
      a {
        color: rgba(0,0,0,1.00);
        font-size: 11px;
        letter-spacing: 1.5px;
        text-decoration: none;
        text-transform: uppercase;
        padding-left: 25px;
        padding-right: 25px;
      }
      a:hover {
        border-bottom: medium solid rgba(252, 71, 59, 1.00);
	padding-bottom: 12px;
      }
    }
    .dropdown-menu > li > a:hover {
      border-bottom: none;
      padding-bottom: 3px;
    }




  }
}
@media (min-width: 768px) {
  .navbar-nav {
    float: right;
  }
}
