<%# Modified from Hyrax Gem 2.1.0 %>
<nav class="navbar navbar-default navbar-static-top controls-nav" role="navigation">
  <div class="container-fluid">
    <div class="row">
      <div>
        <%= render '/user_util_links' %>
        <%= render '/toolbar' %>
      </div>
      <%= render '/static_site_links' %>
    </div>
  </div>
</nav><!-- /.navbar -->
