<%# Modified from Hyrax Gem 2.1.0 %>
<%= render '/shared/select_work_type_modal' if create_work_presenter.many? %>
<nav id="masthead" class="navbar navbar-inverse navbar-static-top" role="navigation">
  <div class="container-fluid">
    <div class="home-header col-xs-12 col-md-5"><%= link_to(root_path) do "<h1>COMPEL</h1>".html_safe end %><h2>Computer<br />Music Library</h2></div>
    <div class="hidden-md col-lg-2"></div>
    <div class="search-wrapper col-xs-12 col-md-5">
      <%= render partial: '/catalog/search_form' %>
    </div>
  </div>
</nav>
