<dt>Associated Composition:</dt>
<dd>
  <strong>Performance of:</strong> <%= link_to "#{composition.title.first}", "/concern/compositions/#{composition.id}" %>
</dd>
<dd>
  <strong>Composed by:</strong> <span class="composition-composer"><%= link_to composition.creator.first, composer_link %></span>
</dd>
