<h2>Performances</h2>
<% if performances.blank? %>
  <p>There are currently no performances of this Composition</p>
<% else %>
  <table class="table table-striped relationships">
    <tbody>
      <% performances.each do |performance| %>
        <%= render 'performance_row', performance: performance %>
      <% end %>
    </tbody>
  </table>
<% end %>

